$clrBackgrDark: #103738;
$clrBackgrBlackTrans: rgba(0, 0, 0, 0.46);
$clrLight: #fcecd7;
$clrLightTrans: rgba(252, 236, 215, 0.5);
$clrBodyFill: #061212;
$clrSelectionHover: #407276;

/* Body Text Sizes*/
$tsHuge: 69px;
$tsPgTitle: 45px;
$tsSectTitle: 30px;
$tsSubTitle: 25px;
$tsPara: 18px;

/*Sidebar Text Sizes*/
$tsSectTitleLrg: 35px;
$tsSubTitleSmall: 24px;
$tsParaLrg: 19px;

/*one-use Text Sizes*/

$tsMainMenuHover: 38px;